body{
    font-family: 'Poppins';
    margin: 0;
}

.first-section{
    display: flex;
    margin-left: 10%;
}
.half-width{
    width: 50%;
}
.div1{
    margin-top: 7%;
}
.half-width img{
    width: 25rem;
    padding-left: 100px;
    margin-top: 0;
}
#first-para{
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
}
.mission-tag{
    color: steelblue;
}
.heading-div h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yeseva One', cursive;
    font-weight: 500;
}
.heading-div{
    padding-left: 13px;
    border-left: 4px solid;
    border-left-color: orange;
    line-height: 35px;
}
.first-section a{
    text-decoration: none;
    font-size: 16px;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 5px;
    padding: 10px 35px;
    color: white;
    font-weight: 500;
}
#third-para{
    margin-top: 40px;
}

.second-section h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}
.second-section span{
    color: steelblue;
}
.three-divs{
    display: flex;
    margin-left: 10%;
    border: 5px solid transparent;
    margin-bottom: 7%;
}
.three-divs h2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    padding-left: 20px;
}
.three-divs p{
    padding-left: 20px;
    padding-right: 20px;
}
.justify{
    text-align: justify;
}
.three-divs img{
    width: 40%;
    padding-left: 10px;
}
.block1{
    width: 25%;
    margin-right: 5%;
    border: 5px solid #e6f9fc;
    border-radius: 20px;
    background-color: #e6f9fc;
}
.block2{
    width: 25%;
    margin-right: 5%;
    border: 5px solid #FFD6D6;
    border-radius: 20px;
    background-color: #FFD6D6;
}
.block3{
    width: 25%;
    margin-right: 7%;
    border: 5px solid #FFF4D6;
    border-radius: 20px;
    background-color: #FFF4D6;
}
.third-section{
    display: flex;
    margin-left: 10%;
    margin-bottom: 5%;
}
.split-width{
    width: 35%;
}
.split-width2{
    width: 55%;
}

.third-section img{
    width: 420px;
}
.third-section h1{
    font-size: 40px;
    line-height: 20px;
}
.third-section p{
    font-size: 18px;
    margin-bottom: 30px;
}
#project-img{
    padding-left: 130px;
}
.third-section a{
    text-decoration: none;
    font-size: 16px;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 5px;
    padding: 10px 35px;
    color: white;
    font-weight: 500;
}

.bonus-section h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}
.bonus-section span{
    color: steelblue;
}
.app-div{
    display: flex;
    margin-left: 18%;
    margin-bottom: 6%;
}
.app-div img{
    width: 420px;
}
.app-image-width{
    width: 30%;
    margin-right: 10%;
}
.app-width{
    width: 50%;
    margin-top: 120px;
}
.app-width h1{ 
    line-height: 20px;
    font-size: 35px;
    padding-left: 0px;
}
.app-width p{
    font-size: 18px;
    margin-bottom: 30px;
}
.app-width a{
    text-decoration: none;
    font-size: 16px;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 5px;
    padding: 10px 35px;
    color: white;
    font-weight: 500;
}
footer{
    height: 180px;
    background-color: #0B0D17;
    color: white;
    text-align: center;
    padding-top: 30px;
}
footer h1{
    font-family: 'Lobster', cursive;
    font-size: 35px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
footer span{
    color: orange;
}
.footer-para{
    font-weight: 300;
    padding-bottom: 30px; 
    margin-top: 0;
    /* padding-top: 0; */
}
.copyright{
    /* margin-bottom: 0; */
    color: wheat;
}